@font-face {
  font-family: "Bebas Neue Book";
  src: local("Bebas Neue Book Regular"), local("BebasNeueBook"),
    url("../fonts/BebasNeueBook.woff2") format("woff2"),
    url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box; /* правильно считать ширину и высоту элементов */
}

body {
  font-family: "Roboto", sans-serif; /* шрифт */
}

.header {
  background-color: #635854; /* цвет фона */
  padding-top: 12px; /* внутренний отступ сверху */
  padding-bottom: 12px; /* внутренний отступ снизу */
  border-bottom: 4px solid #3596f5; /* граница снизу */
}

.navbar {
  max-width: 1280px; /* максимальная ширина блока */
  margin: auto; /* равные внешние отступы сбоку */
  display: flex; /* гибкий блок */
  justify-content: space-between; /* расположение элементов внутри блока по краям */
  align-items: center; /* выравнивание элементов по-вертикали внутри блока */
}

.navbar-menu {
  margin: 0; /* отключаем внешние отступы */
  padding: 0; /* отключаем внутренние отступы */
  list-style: none; /* отключаем точки у списка */
  display: flex; /* гибкий блок */
  text-align: center; /* выравнивание текста по центру */
}

.navbar-item {
  margin-left: 40px; /* внешний отступ слева */
  margin-right: 40px; /* внешний отступ справа */
}

.navbar-link {
  text-decoration: none; /* убрать подчёркивание элементов списка */
  color: #fff; /* цвет текста */
}
.navbar-contacts {
  text-align: right; /* выравнивание текста по правому краю */
}

.navbar-text {
  display: block; /* блочный элемент (занимает всю строку) */
  color: #fff; /* цвет текста */
  margin-bottom: 4px; /* внешний отступ снизу */
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: bold; /* толщина шрифта */
  font-size: 17px; /* размер шрифта */
  line-height: 20px; /* высота строки */
  text-decoration: none; /* убрать подчёркивание текста */
  color: #fff; /* цвет текста */
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}

.main-info {
  flex-grow: 1; /* блок занял всё оставшееся место */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-image path {
  opacity: 0; /* прозрачность */
  cursor: pointer; /* курсор в виде пальца */
}

.home-image path:hover {
  opacity: 1; /* прозрачность */
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg); /* поворот по оси X на 180 градусов */
}

.main-title {
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.counter {
  font-family: "Bebas Neue Book", sans-serif;
  color: #635854;
  font-size: 124px;
  margin: 10px 0px;
}

.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}
