@font-face {
  font-family: "Bebas Neue Book";
  src: local("Bebas Neue Book Regular"), local("BebasNeueBook"),
    url("../fonts/BebasNeueBook.woff2") format("woff2"),
    url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box; /* правильно считать ширину и высоту элементов */
}

body {
  font-family: "Roboto", sans-serif; /* шрифт */
}

.header {
  background-color: #635854; /* цвет фона */
  padding-top: 12px; /* внутренний отступ сверху */
  padding-bottom: 12px; /* внутренний отступ снизу */
  border-bottom: 4px solid #3596f5; /* граница снизу */
}

.navbar {
  max-width: 1280px; /* максимальная ширина блока */
  margin: auto; /* равные внешние отступы сбоку */
  display: flex; /* гибкий блок */
  justify-content: space-between; /* расположение элементов внутри блока по краям */
  align-items: center; /* выравнивание элементов по-вертикали внутри блока */
}

.navbar-menu {
  margin: 0; /* отключаем внешние отступы */
  padding: 0; /* отключаем внутренние отступы */
  list-style: none; /* отключаем точки у списка */
  display: flex; /* гибкий блок */
  text-align: center; /* выравнивание текста по центру */
}

.navbar-item {
  margin-left: 40px; /* внешний отступ слева */
  margin-right: 40px; /* внешний отступ справа */
}

.navbar-link {
  text-decoration: none; /* убрать подчёркивание элементов списка */
  color: #fff; /* цвет текста */
}
.navbar-contacts {
  text-align: right; /* выравнивание текста по правому краю */
}

.navbar-text {
  display: block; /* блочный элемент (занимает всю строку) */
  color: #fff; /* цвет текста */
  margin-bottom: 4px; /* внешний отступ снизу */
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: bold; /* толщина шрифта */
  font-size: 17px; /* размер шрифта */
  line-height: 20px; /* высота строки */
  text-decoration: none; /* убрать подчёркивание текста */
  color: #fff; /* цвет текста */
}

.main {
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}

.main-info {
  flex-grow: 1; /* блок занял всё оставшееся место */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-image path {
  opacity: 0; /* прозрачность */
  cursor: pointer; /* курсор в виде пальца */
}

.home-image path:hover {
  opacity: 1; /* прозрачность */
}

path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg); /* поворот по оси X на 180 градусов */
}

.main-title {
  font-family: "Bebas Neue Book", sans-serif;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.counter {
  font-family: "Bebas Neue Book", sans-serif;
  color: #635854;
  font-size: 124px;
  margin: 10px 0px;
}

.button-primary {
  background: #3596f5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding: 16px 36px;
  cursor: pointer;
}

.modal {
  position: fixed; /* фикисрованная позиция поверх всего сайта */
  left: 0; /* к левому краю */
  top: 0; /* приклеиваем к верху */
  width: 100%;
  height: 100%; /* окно занимает всю страницу целиком */
  background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный фоновый чёрный цвет*/
  display: flex; /* родительский элемент - гибкий */
  justify-content: center;
  align-items: center;
  opacity: 0; /* сделать окно прозрачным */
  transform: scale(0); /* окно сожмётся в ноль (его не будет видно) */
  transition: opacity 0.2s; /*плавность: окно будет появляться плавно в течение 0,2 секунд*/
}

/* чтобы окно появилось, ему присваивается класс */
.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  transform: translateY(-10%); /* отодвинем на 10% вверх */
  transition: transform 0.2s, opacity 0.2s; /* плавность */
  transition-delay: 0.2s; /* задержка: сначала появляется только подложка, а затем модальное окно */
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center; /* весь текст по центру */
  padding: 50px;
}

.flats path {
  opacity: 0;
  cursor: pointer;
}

.flats path:hover {
  opacity: 1;
}

.modal-title {
  font-family: "Bebas Neue Book", sans-serif;
  font-weight: normal;
  font-style: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  width: 40%;
  padding: 50px 46px;
}

.flat-list {
  padding: 0;
  list-style: none;
  margin-top: 55px;
}

.flat-item {
  margin-bottom: 10px;
}

.flat-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  text-decoration: none;
}

.flat-link:hover {
  text-decoration: underline;
  color: #3596f5;
}

.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

.modal-close-button {
  position: absolute;
  right: 27px;
  top: 38px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
